*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(234, 255, 242, 0.349);
    
}

header {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(152, 187, 172);
    border: 1px solid black;
 }
 header img {
     grid-column: 1/2;
     width: 200px;
     height: 200px;
 }
 header h1 {
     margin: auto;
     font-size: 3em;
     width: 85%;
     float: left;
     grid-column: 2/-1;
 }
 

 nav {
     background-color: rgb(152, 187, 172);
     border: 1px solid black;
     display: flex;
     justify-content: end;
     gap: 10px;
 }
 nav > *{
     display: inline-block;    
     background-color: rgb(181, 209, 197);
     margin: 2px;
     padding: 2px;
     
 }

 
footer {
    background-color: rgb(152, 187, 172);
    text-align: right;
    width: 100%;
    bottom: 0;
    position: fixed;
}
footer img {
    margin: 10px;
    width: 70px;
    height: 70px;
    float: right;
}