@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
a {
    color: white; 
}
a:visited {
color: white;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 260px 1fr 100px;
    height: 100vh;
    grid-template-areas: "head head head head"
                         "main main main main"
                         "foot foot foot foot";
   /*row-gap: 20px;*/

}

.main-header {
    background:  rgb(152, 187, 172);
    grid-area: head;
    width: 100vw;
    background-image: url("../Imágenes/FotoHotel2.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo-nombre {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: 'Cormorant SC', serif;
}

header img {
    grid-column: 1/2;
     width: 200px;
     height: 200px;
 }
 header h1 {
    color: white;
    grid-column: 2/-1;
     margin: auto;
     font-size: 3em;
     width: 85%;   
 }

.main-nav {
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(1px);
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    backdrop-filter: blur(4px);
}

.main-navbar {
  /*  border: 10px solid #fff;*/
    display:flex;
    list-style: none;
    justify-content: space-around;
    line-height: 50px;
}

.main-navbar-link {
    color: #fff;
    opacity: 0.8;
    padding: 8px 12px;
    
}
.main-navbar-link:hover {
    background: #fff;
    border-radius: 5px;
    color: #292621;
    opacity: 0.4;
    transition: 0.7s;
}

.main-index {
    background:rgba(234, 255, 242, 0.349);
   /* grid-column: 2/3;*/
    grid-area: main;
    font-family: 'Cormorant SC', serif;

}

h2 {
    padding: 30px 0px 30px 0px ;
    text-align: center;
    font-size: xx-large;
}
h3 {
    margin-bottom: 10px;
    text-align: center;
}
p {
    font-size: large;
}

section div.bloque {
    background-color: rgba(199, 216, 191, 0.349);
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    
}
.imagen {
    grid-column: 2/-1;
    
}
img {
    width: 100%;
}
.texto {
    padding: 20px;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    font-family: 'Cormorant SC', serif;
    color: black;
}

.servicios{
    width: 80%;
    margin: auto;
}
.imagen2{
    margin: 30px auto 10px auto;
}
.opciones{    
    display: flex;
    gap: 5%;
}
.opciones div {
   padding: 20px 10px 10px 10px ;
   border-radius: 10px;
   background-color: rgba(199, 216, 191, 0.349);
   display: flex;
   flex-direction: column;
   align-items: center;
}
.boton{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(120, 155, 140);
    width: 115px;
    padding: 10px;
    margin: 10px;
}
.boton:hover{
    transition: 0.7s;
    background: rgb(57, 117, 91);
}
.botonSubir img {
    position: fixed;
    bottom: 95px;
    left: 10px;
    transition: filter 0.5s ease-in-out;
    border-radius: 10px;
    width: 8%;
}
.botonSubir img:hover {
    filter: brightness(60%);
    
}
.main-footer {
    background-color: rgb(152, 187, 172);
    text-align: right;
    width: 100%;
    bottom: 0;
    position: fixed;
    grid-area: foot;
}
footer p{
    font-size: medium;
    font-family: 'Cormorant SC', serif;

}
footer img {
    margin: 10px;
    width: 70px;
    height: 70px;
    float: right;
}