.grid-container {
    
    border: 1px solid black;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr; 
  
}
aside {
    border: 1px solid black;
}

section {
    border: 1px solid black;
}