.grid-container {
    
    border: 1px solid black;
    height: auto;  
}
aside {
    border: 1px solid black;
    
}

section {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-content: space-around;
    align-items: center;
}
section div {
    border: 1px solid black;
    width: 200px;
    height: 75px;
}

